* {
    box-sizing: border-box;
    margin: 0;
}
html{
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#left-side {
    box-sizing: border-box;
    padding: 20px 0px;
    height: 500px;
    width: 200px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;   
    flex-shrink: 1; 
    flex-basis: 200px;
}

#toggle-border {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgb(75, 60, 172);
    background-color: transparent;
    padding: 5px 0px;
    min-width: 120px;
    color: rgb(75, 60, 172);
    cursor: pointer;
    font-weight: 700;
    transition: all 0.1s;
}

#rainbow-button {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgb(75, 60, 172);
    background-color: transparent;
    padding: 5px 0px;
    min-width: 120px;
    color: rgb(75, 60, 172);
    cursor: pointer;
    font-weight: 700;
    transition: all 0.1s;
}

#eraser {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgb(75, 60, 172);
    background-color: transparent;
    padding: 5px 0px;
    min-width: 120px;
    color: rgb(75, 60, 172);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.1s;
}

#clear-all {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid rgb(75, 60, 172);
    background-color: transparent;
    padding: 5px 0px;
    min-width: 120px;
    color: rgb(75, 60, 172);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.1s;
}

#container {
    width: 500px;
    height: 500px;
    display: grid;
    border-right: 1px solid rgb(187, 186, 186);
    border-bottom: 1px solid rgb(187, 186, 186);
    flex-shrink: 1;
    margin: 20px 0;
}

#color-pick {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

#background-color-input {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

#color-pickers-container {
    display: flex;
    margin-bottom: auto;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}

.color-pickers {
    display: flex;
    color: rgb(75, 60, 172);
    align-items: center;
    justify-content: flex-end;
}


#grid-size-text {
    margin-top: 20px;
}

#grid-size-input {
    color: black;
    cursor: pointer;
    background: transparent;
    appearance: none;
    height: 0.5rem;
    background-color: rgb(75, 60, 172);
    border-radius: 10px;
    margin-top: 5px;
}
